*{
    margin: 0;
    padding: 0;
}


.main_cont{
    width: 100%;
    height: 100vh;
}

img {
    opacity: 0.5;
}

header {
    background-color: rgb(245, 45, 45);
    color: white;
    font-weight: bold;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(245, 45, 45);
    color: white;
    padding: 5px;
    margin: 5px;
    border: 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.overlay-text {
    position: absolute;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    padding: 10px 20px;
}

.last {
    display: flex;
    justify-content: center;
    background-color: ivory;
}

footer {
    background-color: rgb(245, 45, 45);
    color: white;
    width: 100%;
    height: 15%;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 69, 69);
    color: white;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}

.header_row {
    width: 100%;
    height: 5%;
    display: flex;
    font-weight: bolder;
}

.row {
    width: 100%;
    height: 5%;
    display: flex;
}

.cell{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
