body {
  font-family: Arial, sans-serif;
  background-color: #fffdf8;
  padding: 20px;
}

.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

form {
  margin: auto;
}

table {
  width: 100%;
  /* border: 1px solid black; */
 
}

td {
  padding: 10px;
  vertical-align: middle;
  /* border: 1px solid black; */
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  width: 200px;
}

select {
  width: auto;
}

input[placeholder="Day"],
input[placeholder="Month"],
input[placeholder="Year"] {
  width: 60px;
}

input[type="file"] {
  background-color: white;
}

button {
  padding: 8px 16px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}